@import "./davalopers376.css";


.my-titleDevelopers {
    font-family: "president";
    float: left;
}

.filterType1 {
    margin: 1rem 0px;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 0px 15px;
}

.filterType2 {
    margin: 1rem 0px;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    padding: 0px 15px;

}

.card-artist {
    padding: 0rem 0.5rem;
    margin-bottom: 1.5rem;
    position: relative !important;
    border-radius: .25rem;
    flex: 0 0 25%;
    max-width: 25%;
}

//col-3