@media (max-width: 376px) {

    .my-UpdateUserList {
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        a {
            min-width: 50%;

            li {
                width: 100%;
                margin: 0px !important;
            }
        }
    }

    .my-container {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }



}