.my-spanDelete {
    cursor: pointer;
    padding: .5rem 1rem !important;
    margin-right: .5rem !important;
    margin-top: .5rem !important;

    border-radius: .25rem !important;

}

//p-2 px-3 mr-2 mt-2 rounded