@import "navbar-767.css";



@mixin imgBasicSize {
    width: 58px;
    height: 58px;
}


//img mostrada en el responsive
.my-resp {
    font-family: president;
    @include imgBasicSize;
    display: none;
    border-radius: 10%;
    margin: 0px;
}

// img+text mostrado en el NO responsive
.my-notResp {
    font-family: president;
    font-size: 32px;
    margin-left: 30px;
    display: inline-block;

    img {
        @include imgBasicSize;
        margin-right: 30px;
    }
}

//navbar
.my-navbar {
    font-family: president;
    font-size: 32px;
    margin-right: auto;
    margin-left: auto;
}

//navbar Responsive
.my-navbarResp {
    font-size: 32px;
    color: #1a1b1e;
    justify-content: space-around;

    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

}
.nav-item{
    transition-duration: 1.7s;
}
.nav-item:hover{
    background-color: #fff;
    box-shadow: 10px 10px 29px -15px rgba(0,0,0,0.75);
}

.showed {
    display: inline-flex !important
}

.hidden {
    display: none !important;
}