@media (max-width: 376px) {

    .my-col9 {
        margin-left: 0px !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .my-headerTitlePortfolio {
        margin: unset !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

}